body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(242, 241, 239);
}
.header {
  
  align-items: center;
  justify-content: space-between;
  width:100%;

  margin-left: 0px;
  border-left: 3px solid #CB4154;
  border-right: 2px solid #CB4154;
  border-bottom: 6px solid #AB4E52;
  margin-bottom: 15px;
  padding: 0px 0px 0px 0px;
  /*border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
  background-color: #f59a9a;
}

h1 {
  margin-top: 0px;
  padding-top:30px;
  color: white;
}

form {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0px;
  border: none;
  
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  justify-content: space-between;


  
}

.task {
  padding: 10px;
padding-left:25px;
  margin-bottom: 5px;
  background-color: #d2e9f7;
 

}
form input
{
  width: 600px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  outline-color: #7699f3;
  padding-left:10px;
  
}

.task:nth-child(even) {
  background-color: rgb(170, 211, 245);
}

.task.complete {
  text-decoration: line-through;
  background-color: rgb(197, 240, 210);
  color: green;
  
  
}
.task.complete:hover {
  
  background-color: rgb(150, 226, 150);
  color:white;
  
  
}
.task:hover
{
  background-color: rgb(123, 183, 233);
  color: white;
}
form button {
  margin-left: 0px;
  width: 100px;
  height: 33px;
  background-color: #b8c9f3;
  border: 0;
  border-radius: 5px;
  
}
form button:hover
{
  background-color:#76e4f3 ;
  color:rgb(255, 255, 255);
}

.del button
{
 position: absolute;
  left:97%;

  width:20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
 
  
}
.del button:hover
{
  background-color:#77efff ;
  color:white;
}

